p{
    font-size: 18px;
}

body {
    font-family: "Hanken Grotesk", sans-serif;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .main { 
    background-color: hsl(0, 0%, 100%);
    width: 80vh;
    box-shadow: 4px 4px 20px hsl(234, 85%, 45%, 0.08);
    margin-top: 10%;
    display: flex;
    border-radius: 8%;
    height: 55vh;
  }
  
  .leftSide{
    
    text-align: center;
    width: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 8%;
  }

  .rightSide{
    width: 50%;
    background-color: hsl(0, 0%, 100%);
    float: right;
    border-radius: 8%;
  }

.leftSide .header{

    font-size: 1.4em;
    margin-top: 12%;
    font-weight: 700;
    color: hsl(241, 100%, 89%);
}

.circle{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    margin-left: 10.5vh;
    padding: 5px;
    width: 45%;
    border-radius:50%;
    margin-top: 10%;
}

.circle .numb{
    font-size: 4.5em;
    font-weight: 800;
    color: hsl(0, 0%, 100%);
    
}

.circle .of, .leftSide .score{
    color: hsl(241, 100%, 89%);
    font-size: 1.1250em;
}

.leftSide .great{
    font-size: 2em;
    font-weight: 700;
    color: hsl(0, 0%, 100%);

}

.leftSide .score{
    padding-left: 65px;
    padding-right: 65px;
}


.rightSide p{
    margin-left: 10%;
}

.rightSide .header{
    
    font-size: 1.4em;
    margin-top: 12%;
    font-weight: 700;
    color: hsl(224, 30%, 27%);
}


.rightSide .withImages{
    /* background-color: red; */
    width: 80%;
    height: 8%;
    border-radius: 10px;
    text-align: center;
    padding-top: 4.5% ;
    display: flex;
}

.rightSide #first{
    background-color:hsla(0,100%,67%,0.1);
}

.rightSide b{
    font-weight: 500;
}

.rightSide .textReaction{
    color: hsl(0, 100%, 67%);
}

.rightSide .first, .second, .third, .fourth{
    color: hsl(224, 30%, 27%);
    font-weight: 700;
    
    
}

.first{margin-left: 100px;}
.second{margin-left: 105px;}
.third{margin-left: 117px;}
.fourth{margin-left: 120px;}


.rightSide .maxScore{
    color: hsl(222, 11%, 56%);
    
    
}

.rightSide img{
    margin-left: 15px;
    margin-right: 15px;
    width: 20px;
    margin-bottom: 19px;
}

.rightSide .textMemory{
    color: hsl(39, 100%, 56%);
}
.rightSide .textVerbal{
    color: hsl(166, 100%, 37%);
}
.rightSide .textVisual{
    color: hsl(234, 85%, 45%);
}

.rightSide #second{
    background-color:hsla(39,100%,56%,0.1);
}
.rightSide #third{
    background-color:hsla(166,100%,37%,0.1);
}
.rightSide #fourth{
    background-color:hsla(234,85%,45%,0.1);
}

.rightSide .continue{
    background-color: hsl(224, 30%, 27%);
    width: 80%;
    height: 10%;
    border-radius: 25px;
    margin-top: 30px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: hsl(0, 0%, 100%);
}

.rightSide .continue:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}
